<!DOCTYPE HTML>
<html lan="en">

	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width"/>
		<title>NYT Chrome New Tab Page by Billy Shaw Susanto</title>
	</head>

</html>

<body>

	<!-- Background Image -->
	<img src="http://graphics8.nytimes.com/images/2014/12/01/us/JP-BOEHNER/JP-BOEHNER-superJumbo.jpg" class="bg">

	Hi There, um.

	<h1>{{title}}</h1>
	<p>Welcome to {{title}}</p>

</body>